.highlight{
    background-color: rgba(137, 43, 226, 0.329) !important;
}

.button_primary{
    background-color: yellowgreen;
    color: black;
    border: none;
    padding: .5rem 2rem;
    text-decoration: none !important;
}

.button_primary:hover,
.button_primary:focus{
    background-color: rgb(124, 167, 39);
    color: black;
}

.button_delete{
    background-color: rgb(205, 50, 102);
    color: white;
    border: none;
    padding: .2rem 1rem;
    font-size: 1rem;
    text-decoration: none !important;
}

.button_delete:hover,
.button_delete:focus{
    background-color:  rgb(129, 27, 61);
    color: white;
}